build/*
.idea/*
docs/figs/*.png
docs/art/*
docs/fonts/*
docs/*
*.pdf
local/*
profiles/*
*.bak
licenses/*
global_account.db4o
dist/*
*.swp
src/com/monkygames/kbmaster/account/DropBoxApp.java
libs/*
*.class
test.xml
test2.xml
settings.db4o
settings.xml
global_account.xml
art_assets/*
/nbproject/private/
.gradle/*
build.xml
cookies.txt
dist_old/
leds/
manifest.mf
nbproject/
installer
/.nb-gradle/
/gradle/*
/scripts/.gradle/*