.button {
    -fx-background-repeat: no-repeat , no-repeat;
    -fx-background-size:  stretch;
    -fx-background-color: transparent;
}
.button:hover {
    -fx-border-color: white;
    -fx-background-color: transparent
}

/**
 * Used for buttons that like close.
 */
.button_control {
    -fx-padding: 0px;
}

/**
 * Affects all components.
 */
.mainFxmlClass {
    -fx-background-color: black;
    -fx-text-fill: white;
}
/**
 * Load Fonts external fonts.
 */
@font-face {
    font-family: Title1;
    src: url('OCRAEXT.TTF');
}
.label{
    -fx-text-fill: white;
    -fx-background-color: black;
}
.button_stamp {
    -fx-background-image: url("resources/button.png");
}